<div class="container">
  <h3>Please enter a new password for your account.</h3>
  <br />
  <mat-form-field appearance="fill">
    <mat-label>Enter your password</mat-label>
    <input #newPassword matInput [type]="hide ? 'password' : 'text'" />
    <button
      mat-icon-button
      matSuffix
      (click)="hide = !hide"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide"
    >
      <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
    </button>
  </mat-form-field>
  <button
    (click)="onNewPasswordClick(newPassword)"
    mat-flat-button
    color="primary"
  >
    Reset
  </button>
</div>
